# Firebase Configuration
# Copiez ce fichier en .env.local et remplissez avec vos vraies clés Firebase

NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyARRu-jeGw26bD-n3y3a-UGhHMG8iKWe0s"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="wego-97624.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="wego-97624"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="wego-97624.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="388369070627"
NEXT_PUBLIC_FIREBASE_APP_ID= "1:388369070627:web:487583c148f888635acf96"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID= "G-2F8RZ7TNSG"




  apiKey: "AIzaSyARRu-jeGw26bD-n3y3a-UGhHMG8iKWe0s",
  authDomain: "wego-97624.firebaseapp.com",
  projectId: "wego-97624",
  storageBucket: "wego-97624.firebasestorage.app",
  messagingSenderId: "388369070627",
  appId: "1:388369070627:web:487583c148f888635acf96",
  measurementId: "G-2F8RZ7TNSG"




  et aussi il faut ajouter le systeme de pwa  et aussi quand he veux devenir partenaire je vois xa "Firebase: Error (auth/email-already-in-use)." pourquoi cela quand je choisis la cni et quand je  clique sur un deals rien hors que tu n'avais assurer que tout fonctionne   hors qu'il y;a encore des errreurs et aussi si je suis deja connecter plus besoin voir les boutons se connecter et autre puisqu'on doit garder le user connecter dans les stores comme cela meme si on recharge la page on n'ouvre un autre onglets le users reste tourjours connecter  puisqu'il utilise firebase auth  